{% load stave_tags %}

{% inputs 'ApplicationTableInputs' %}

<thead>
    <th>Action</th>
    <th>Status</th>
    <th>Games</th>
    {# Profile fields #}
    {% for field in form.requires_profile_fields %}
    <th>{{ field|get_profile_field_name }}</th>
    {% endfor %}
    {# Roles per Role Group #}
    {% for role_group in form.role_groups.all %}
    <th>{% include "stave/partials/abbrev.html" with text=role_group.name only %}</th>
    {% endfor %}
    {# Availability #}
    {% if form.application_availability_kind == form.ApplicationAvailabilityKind.BY_DAY %}
    <th>Days Avail.</th>
    {% elif form.application_availability_kind == form.ApplicationAvailabilityKind.BY_GAME %}
    <th>Games Avail.</th>
    {% endif %}
    {# Application questions #}
    {% for question in form.form_questions.all %}
    <th>
        <small>
            {% include "stave/partials/abbrev.html" with text=question.content only %}
        </small>
    </th>
    {% endfor %}
</thead>
