{% load stave_tags %}
{% inputs 'ApplicationTableRowInputs' %}
<td><small>{{ application.get_status_display }}</small></td>
<td><small>{{ game_count }}</small></td>
{# Profile fields #}
{% for field in application.form.requires_profile_fields %}
<td>
    <small>
    {% if field == "game_history_url" %}
    {% with application.get_user_data|get:field|valid_url as url %}
    {% if url %}
    <a href="{{ url }}" target="_blank">
        Open
    </a>
    {% else %}
    {{ url }}
    {% endif %}
    {% endwith %}
    {% elif field == "email" %}
    <a href="mailto:{{ application.get_user_data|get:field }}">
        <abbr title="Send Email">✉️</abbr>
    </a>
    {% else %}
    {{ application.get_user_data|get:field }}
    {% endif %}
    </small>
</td>
{% endfor %}
{# Roles #}
{% for role_group in application.form.role_groups.all %}
    <td>
        <small>
        {% for role in application.roles.all %}
            {% if role.role_group_id == role_group.id %}
                {{ role }}
            {% endif %}
            {% endfor %}
        </small>
    </td>
{% endfor %}
{# Availability #}
{% if form.application_availability_kind == form.ApplicationAvailabilityKind.BY_DAY %}
<td><small>{{ application.availability_by_day|length }}/{{ form.event.days|length }}</small></td>
{% elif form.application_availability_kind == form.ApplicationAvailabilityKind.BY_GAME %}
<td><small>{{ application.availability_by_game.all|length }}/{{ form.games|length }}</small></td>
{% endif %}
{# Application questions #}
{% for question in form.form_questions.all %}
    {% with application.responses_by_question|get:question.id as response %}
        <td>
            <small>
            {% if response|stringformat:"s"|length > 25 %}
            <details>
            <summary>
            <span>{{ response|stringformat:"s"|truncatechars:25 }}</span>
            </summary>
            {{ response }}
            </details>
            {% else %}
            {{ response }}
            {% endif %}
            </small>
        </td>
    {% endwith %}
{% endfor %}
