{% load stave_tags %}

{% inputs 'ApplicationTableInputs' %}

<table>
    <thead>
        <th>Action</th>
        {# Profile fields #}
        {% for field in form.requires_profile_fields %}
        <th>{{ field|get_profile_field_name }}</th>
        {% endfor %}
        {# Roles per Role Group #}
        {% for role_group in form.role_groups.all %}
        <th>{{ role_group.name }}</th>
        {% endfor %}
        {# Availability #}
        {# Application questions #}
        {% for question in form.form_questions.all %}
        <th>{{ question.content }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>
                {% block actions %}
                {% endblock %}
            </td>
            {# Profile fields #}
            {% for field in application.form.requires_profile_fields %}
            <td>{{ application.get_user_data|get:field }}</td>
            {% endfor %}
            {# Roles #}
            {% for role_group in form.role_groups.all %}
            <td>
                {% for role in application.roles.all %}
                {% if role.role_group == role_group %}
                {{ role }}
                {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            {# Availability #}
        {# Application questions #}
        {% for question in form.form_questions.all %}
        {% with application.responses_by_question|get:question as response %}
        <td>{{ response.content|commalist }}</td>
        {% endwith %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
