{% load stave_tags %}
{% inputs 'CalendarInputs' %}
<details>
<summary role="button">Add to calendar</summary>
<p>

You can add this group of events to your calendar by subscribing to the URL below in your calendar client.

<pre>https://stave.app{{ url }}</pre>
<ul>
    <li>For Google Calendar, follow the <a href="https://support.google.com/calendar/answer/37100?hl=en&co=GENIE.Platform%3DDesktop">instructions</a> under "Use a link to add a public calendar".</li>
    <li>For Apple Calendar, follow <a href="https://support.apple.com/en-us/102301">Apple's instructions</a>.</li>
</ul>
</details>
