{% load stave_tags %}
{% inputs 'CrewEditorInputs' %}

<table>
<thead>
    <th>Role Name</th>
    <th>Assignment</th>
    {% if editable %}
    <th>Actions</th>
    {% endif %}
</thead>
<tbody>
{% for role in role_group.roles.all %}
<tr>
    <td>{{ role.name }}</td>
    {% with crew_assignments|get:role.id as assignment %}
    <td
        {% if role.id not in crew_assignments %}class="highlighted-cell"{% endif %}
        {% if assignment and assignment.user_id == focus_user_id %}class="highlighted-cell-user"{% endif %}
        >
        {% if assignment %}
        {{ assignment.user.preferred_name }}
        {% else %}
        Open
        {% endif %}
    </td>
    {% endwith %}
    {% if editable %}
    <td>
        <a href="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug crew.id role.id %}">
            {% if role.id in crew_assignments %}Reassign{% else %}Assign{% endif %}
        </a>
        {# You cannot clear an assignment if it's provided by an assigned crew #}
        {% with assignment=crew_assignments|get:role.id %}
        {% if assignment and assignment.crew.id == crew.id %}
        <form class="inline"
              action="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug crew.id role.id %}"
              method="POST">
            <input type="hidden" value="{{ crew.id }}" id="crew_id" name="crew_id">
            <input type="hidden" value="" id="application_id" name="application_id">
            <input type="submit" value="Clear">
            {% csrf_token %}
        </form>
        {% endif %}
        {% endwith %}
    </td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
