{% load stave_tags %}
{% inputs 'CrewEditorInputs' %}

<style type="text/css">
td input, td a[role="button"] {
    margin: 0 !important;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
</style>
<table>
<thead>
    <th>Role</th>
    <th>Assignment</th>
    {% if editable %}
    <th>Actions</th>
    {% endif %}
</thead>
<tbody>
{% for role in role_group.roles.all %}
<tr>
    <td>{{ role.name }}</td>
    {% with crew_assignments|get:role.id as assignment %}
    <td
        {% if role.id not in crew_assignments %}class="highlighted-cell"{% endif %}
        {% if assignment and assignment.user_id == focus_user_id %}class="highlighted-cell-user"{% endif %}
        >
        {% if assignment %}
        {{ assignment.user.preferred_name }}
        {% else %}
        {% if editable %}
        {% with role_counts=counts|get:role.name %}
        Open <small>({{ role_counts.0 }}/{{ role_counts.1 }} avail.)</small>
        {% endwith %}
        {% endif %}
        {% endif %}
    </td>
    {% endwith %}
    {% if editable %}
    <td class="horiz">
        <small>
        {% with assignment=crew_assignments|get:role.id %}
        {# You cannot clear an assignment if it's provided by an assigned crew #}
        {% if assignment and assignment.crew.id == crew.id %}
        <form class="inline"
              action="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug crew.id role.id %}"
              method="POST">
        <a role="button" class="outline" href="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug crew.id role.id %}">
            {% if assignment %}{% if assignment.crew.id == crew.id %}<abbr title="Reassign">🔄</abbr>{% else %}Override{% endif %}{% else %}<abbr title="Assign">🔍</abbr>{% endif %}
        </a>
            <input type="hidden" value="{{ crew.id }}" id="crew_id" name="crew_id">
            <input type="hidden" value="" id="application_id" name="application_id">
            <input type="submit" class="outline" value="❌" title="Clear">
            {% csrf_token %}
        </form>
        {% else %}
        <a role="button" class="outline" href="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug crew.id role.id %}">
            {% if assignment %}{% if assignment.crew.id == crew.id %}<abbr title="Reassign">🔄</abbr>{% else %}<abbr title="Override">⬇️</abbr>{% endif %}{% else %}<abbr title="Assign">🔍</abbr>{% endif %}
        </a>
        {% endif %}
        {% endwith %}
        </small>
    </td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
