{% extends "stave/event.html" %}

{% block navigation %}
{% for application_form in item.application_forms.all %}
<div>
    <strong>
        <a href="{{ application_form.get_absolute_url }}"">{{ application_form.role_group_names }}</a>
    </strong>
    {% if application_form.applications.open|length %}
    <span class="cta">
        <a href="{% url 'form-applications' application_form.event.league.slug application_form.event.slug application_form.slug %}">
            {{ application_form.applications.open|length }} open
        </a>
        </span>
    {% endif %}
    {% if application_form.applications.pending|length %}
    <span class="cta">
        <a href="{% url 'form-comms' application_form.event.league.slug application_form.event.slug application_form.slug %}">
            {{ application_form.applications.pending|length }} pending
        </a>
    </span>
    {% endif %}
</div>
{% endfor %}
{% endblock navigation %}
