{% load stave_tags %}
{# Note that this works even if is_subscribed is null, i.e., the input is not annotated #}
{% regroup page_obj by is_subscribed as events_by_subscription %}
{% for event_group in events_by_subscription %}
{% if has_subscriptions %}
<h3>
    {% if event_group.grouper %}
    Applications from My Subscribed Leagues
    {% else %}
    Applications from Other Leagues
    {% endif %}
</h3>
{% endif %}
{% for event in event_group.list %}
{% include "stave/event.html" with item=event user=user card_kind=card_kind csrf_token=csrf_token only %}
{% endfor %}
{% endfor %}
</ul>
