overview-welcome=Welcome to Stave, a free and open source platform for roller derby signups and staffing.
# HTML, do not translate anything within angle brackets (<>)
overview-getting-started-html=Getting started? Read the <a target="_blank" href="https://docs.stave.app/">docs</a>, with embedded video guides.
# HTML, do not translate anything within angle brackets (<>)
overview-discord-html=Join our <a target="_blank" href="https://discord.gg/jwYGPa2EAK">Discord</a> for support and discussion.

open-applications-title=Open Applications
open-applications-none=There aren't any open applications for you right now.
# Templated localization, do not translate the content within the curly braces ({})
open-applications-showing-x-of-y=Showing { $x } of { $y }.
open-applications-see-all=See all open applications

my-applications-title=My Applications
my-applications-none-pending=You don't have any applications pending right now.
# Templated localization, do not translate the content within the curly braces ({})
my-applications-x-of-y=Showing { $x } of { $y }.
my-applications-see-all=See all my applications

my-events-title=Staffing
my-events-none=You aren't managing any events.
# Templated localization, do not translate the content within the curly braces ({})
my-events-showing-x-of-y=Showing { $x } of { $y }.
my-events-see-all=See all my events

my-leagues-title=My Leagues
# Templated localization, do not translate the content within the curly braces ({})
my-leagues-showing-x-of-y=Showing { $x } of { $y }.
my-leagues-see-all=See all my leagues

my-league-groups-title=My League Groups
my-league-groups-none=You don't have any League Groups right now.
# Templated localization, do not translate the content within the curly braces ({})
my-league-groups-showing-x-of-y=Showing { $x } of { $y }.
my-league-groups-see-all=See all my league groups

subscriptions-title=Subscriptions
subscriptions-leagues=Leagues
subscriptions-league-groups=League Groups
subscriptions-see-all=See all my subscriptions

officiating-history-title=Officiating History
officiating-history-button=View my Stave history
officiating-history-document-button=View my officiating history document

join-now=Join Now
