{% load ftl %}
{% ftlconf bundle='stave.fluent_bundles.base' %}
{% load meta static %}
<!doctype html>
<html lang="en">
    <head {% meta_namespaces %}>
        <link
            rel="stylesheet"
            href="{% static 'pico.amber.min.css' %}"
        >
        <link rel="stylesheet" href="{% static 'stave.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <title>{% block title %}{% ftlmsg 'application-name' %}{% endblock %}</title>
        {% include 'meta/meta.html' %}
        {% block resources %}{% endblock %}
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
    <header class="container">
        <nav>
            <div>
            <ul>
                <li><a href="{% url 'home' %}"><strong>{% ftlmsg 'application-name' %}</strong></a> <small><strong style="color: darkred;">BETA</strong></small></li>
                <li><a href="{% url 'league-list' %}">{% ftlmsg 'navbar-leagues' %}</a></li>
                <li><a href="{% url 'event-list' %}">{% ftlmsg 'navbar-events' %}</a></li>
                <li><a target="_blank" href="https://docs.stave.app/">{% ftlmsg 'navbar-docs' %}</a></li>
            </ul>
            </div>
            <div>
                <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile' %}">{% ftlmsg 'navbar-my-account' %}</a></li>
                <li><a href="{% url 'account_logout' %}">{% ftlmsg 'navbar-logout' %}</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">{% ftlmsg 'navbar-signup' %}</a></li>
                <li><a href="{% url 'account_login' %}{% querystring next=request.path %}">{% ftlmsg 'navbar-login' %}</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
        {% block extra_body %}{% endblock %}
    </main>
    <footer class="container">
        <small>
            {% ftlmsg 'application-name' %} &copy; 2025 <a href="https://ktema.org">David "Stacktrace" Reed</a>.
            {% ftlmsg 'footer-free-and-open-source-html' %}
            <a target="_blank" href="https://docs.stave.app/about.html">{% ftlmsg 'footer-about' %}</a>
            <a target="_blank" href="https://docs.stave.app/privacy-policy.html">{% ftlmsg 'footer-privacy' %}</a>
        </small>
    </footer>
    </body>
</html>
