<html lang="en">
    <head>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
        >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <title>{% block title %}Stave{% endblock %}</title>
    </head>
    <header>
        <nav>
            <ul><li><strong>Stave</strong> <small>for Roller Derby</small></li></ul>
            <ul>
            <li><a href="{% url 'league-list' %}">Leagues</a></li>
            <li><a href="{% url 'event-list' %}">Events</a></li>
            <li><a href="{% url 'my-applications' %}">My Applications</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
            <<li>a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright &copy; 2025 David "Stacktrace" Reed</footer>
</html>
