{% load static %}
{% load meta %}
<!doctype html>
<html lang="en">
    <head {% meta_namespaces %}>
        <link
            rel="stylesheet"
            href="{% static 'pico.amber.min.css' %}"
        >
        <link rel="stylesheet" href="{% static 'stave.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <title>{% block title %}Stave{% endblock %}</title>
        {% include 'meta/meta.html' %}
        {% block resources %}{% endblock %}
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
    <header class="container">
        <nav>
            <div>
            <ul>
                <li><a href="{% url 'home' %}"><strong>Stave</strong></a> <small><strong style="color: darkred;">BETA</strong></small></li>
                <li><a href="{% url 'league-list' %}">Leagues</a></li>
                <li><a href="{% url 'event-list' %}">Events</a></li>
            </ul>
            </div>
            <div>
                <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'officiating-history' %}">Officiating History</a></li>
                <li><a href="{% url 'my-applications' %}">My Applications</a></li>
                <li><a href="{% url 'profile' %}">My Account</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}{% querystring next=request.path %}">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
        {% block extra_body %}{% endblock %}
    </main>
    <footer class="container"><small>Stave &copy; 2025 <a href="https://ktema.org">David "Stacktrace" Reed</a>. <a href="https://github.com/davidmreed/stave">Free and open source</a> for the roller derby community. <a href="{% url 'about' %}">About</a> <a href="{% url 'privacy-policy' %}">Privacy</a></small></footer>
    </body>
</html>
