{% extends "base.html" %}

{% block content %}

<h1>About Stave</h1>

<p>
Stave is built by and for roller derby officials and volunteers. Stave provides event and volunteer management: staff your derby games and tournaments, build signup forms, communicate with volunteers, and maintain a calendar.
</p>

<p>
Stave is a new application and is in <strong>beta</strong> status, meaning it's being actively developed and tested and may have bugs.
</p>

<p>
Stave is <a href="https://github.com/davidmreed/stave">free and open source</a>. It is available under the <a href="https://github.com/davidmreed/stave/blob/main/LICENSE">GNU Affero General Public License v3.0</a>. Stave is built in Python with Django.
</p>

<p>
  Stave welcomes contributions of code, documentation, bug reports, and feature requests. Stave will always be free for the roller derby community. Financial contributions are not requested or accepted. Stave is developed and funded by Stacktrace.
</p>

{% endblock %}
