{% load stave_tags %}

{% inputs 'ApplicationActionsInputs' %}

<div class="inline">
    {% if include_view %}
        <a role="button" href="{% url 'view-application' application.id %}">View</a>
    {% endif %}
    {% if user == application.user and application.status != application.ApplicationStatus.WITHDRAWN %}
        <a role="button" href="{% url 'update-application' application.id %}">Edit Application</a>
    {% endif %}
    {% for state in application|get_legal_state_changes:user %}
    {# FIXME: improve UX here - actions (verbs), state changes hidden #}
    <input type="submit"
           formaction="{% url 'application-status' application.id state %}"
           value="{% if user == application.user %}{{ state.get_action_verb }}{% else %}Mark {{ state.label|title }}{% endif %}"
    >
    {% endfor %}
</div>
