{% load stave_tags %}

{% inputs 'ApplicationActionsInputs' %}

<div class="inline">
    {% if include_view %}
        <a role="button" href="{% url 'view-application' application.id %}">View</a>
    {% endif %}
    {% if user == application.user and application.status != application.ApplicationStatus.WITHDRAWN %}
        <a role="button" href="{% url 'update-application' application.id %}">Edit Application</a>
    {% endif %}
    {% with states=application|get_legal_state_changes:user %}
    {% if application.ApplicationStatus.APPLIED in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.APPLIED %}"
           value="Send Back to Applied"
    >
    {% endif %}
    {% if application.ApplicationStatus.INVITATION_PENDING in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.INVITATION_PENDING %}"
           value="Mark for Invitation"
    >
    {% endif %}
    {% if application.ApplicationStatus.INVITED in states and application.status == application.ApplicationStatus.INVITATION_PENDING %}
    {% if application.form.invitation_email_template %}
    <input type="hidden" value="{{ application.user_id }}" name="recipient">
    <input type="hidden" value="invitation" name="type">
    <input type="hidden" value="{{ request.path }}" name="redirect_url">
    <input type="submit"
           formaction="{% url 'comm-center' application.form.event.league.slug application.form.event.slug application.form.slug %}"
           value="Send Invitation Now"
    >
    {% endif %}
    {# FIXME: do the other actions #}
    <a role="button" href="{% url 'send-email' application.form.event.league.slug application.form.event.slug application.form.slug 'invitation'%}{% querystring recipient=application.user_id %}">Customize Invitation Now</a>
    {% endif %}
    {% if application.ApplicationStatus.REJECTION_PENDING in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.REJECTION_PENDING %}"
           value="Mark for Rejection"
    >
    {% endif %}
    {% if application.ApplicationStatus.REJECTED in states and application.status == application.ApplicationStatus.REJECTION_PENDING %}
    <input type="submit"
           formaction="FIXME"
           value="Send Rejection Now"
    >
    {% endif %}
    {% if application.ApplicationStatus.CONFIRMED in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.CONFIRMED %}"
           value="Confirm"
    >
    {% endif %}
    {% if application.ApplicationStatus.DECLINED in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.DECLINED %}"
           value="Decline"
    >
    {% endif %}
    {% if application.ApplicationStatus.WITHDRAWN in states %}
    <input type="submit"
           formaction="{% url 'application-status' application.id application.ApplicationStatus.WITHDRAWN %}"
           value="Withdraw"
    >
    {% endif %}
    {% if application.ApplicationStatus.ASSIGNED in states and application.status == application.ApplicationStatus.ASSIGNMENT_PENDING %}
    <input type="submit"
           formaction="FIXME"
           value="Send Schedule Now"
    >
    {% endif %}
    {% endwith %}
</div>
