{% load stave_tags %}

{% inputs 'ApplicationActionsInputs' %}

<div role="group">
    {% if include_view %}
    <a role="button" href="{% url 'view-application' application.id %}">View</a>
    {% endif %}
    {% if user == application.user %}
    {% if application.status == ApplicationStatus.APPLIED %}
    <input type="submit" formaction="TODO" value="Update">
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.WITHDRAWN %}" value="Withdraw">
    {% elif application.status == ApplicationStatus.INVITED %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.CONFIRMED %}" value="Confirm">
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.DECLINED %}" value="Decline">
    {% elif application.status == ApplicationStatus.CONFIRMED %}
    <input type="submit" value="Update">
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.WITHDRAWN %}" value="Withdraw">
    {% endif %}
    {% else %}
    {% if application.status == ApplicationStatus.APPLIED %}
    {% if application.form.event.application_kind == ApplicationKind.CONFIRM_ONLY %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.CONFIRMED %}" value="Confirm">
    {% else %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.INVITED %}" value="Invite">
    {% endif %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.WITHDRAWN %}" value="Mark Withdrawn">
    {% elif application.status == ApplicationStatus.INVITED %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.CONFIRMED %}" value="Mark Confirmed">
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.DECLINED %}" value="Mark Declined">
    {% elif application.status == ApplicationStatus.CONFIRMED %}
    <input type="submit" formaction="{% url 'application-status' application.id ApplicationStatus.WITHDRAWN %}" value="Mark Withdrawn">
    {% endif %}
    {% endif %}
</div>
