{% extends "base.html" %}

{% load markdownify %}

{% block content %}

<h1>{{ form.event.name }}</h1>
<p>
Hosted by <a href="{% url 'league-detail' form.event.league.slug %}">{{ form.event.league.name }}</a>.
</p>
<p>
{{ form.event.start_date }}
{% if form.event.end_date != form.event.start_date %}
{{ form.event.end_date }}
{% endif %}
</p>
<p>
{{ form.event.location }}
</p>

{{ form.intro_text|markdownify }}

<hr>

<form action="{% url 'application-form' form.event.league.slug form.slug %}" method="post">
{% csrf_token %}

{% if form.requires_profile_fields %}
This application will receive data from your profile:
<ul>
{% for profile_field in form.requires_profile_fields %}
<li>{{ profile_field }}</li>
{% endfor %}
</ul>
<hr>
{% endif %}

{# Availability #}
{% if form.event.application_availability_kind == form.event.ApplicationAvailabilityKind.WHOLE_EVENT %}

<p>You're applying for the entire event, from {{ form.event.start_date }} to {{ form.event.end_date }}.</p>


{% elif form.event.application_availability_kind == form.event.ApplicationAvailabilityKind.BY_DAY and form.event.start_date != form.event.end_date %}

{% for day in form.event.days %}
<input type="checkbox" name="day-{{day}}" id="day-{{day}}">
<label for="day-{{day}}">{{day}}</label>
{% endfor %}
<hr>
{% endif %}

{% for role_group in form.role_groups.all %}
<fieldset>
    <legend>{{role_group.name}}</legend>
{% for role in role_group.roles.all %}
<div class="role">
<input type="checkbox" name="role-{{role.id}}" id="role-{{role.id}}">
<label for="role-{{role.id}}">{{role.name}}</label>
<div>
{% endfor %}
</fieldset>
{% endfor %}

<hr>

{% for question in form.form_questions.all %}

<div class="question"
<label for="{{question.id}}">{{ question.content }}</label>
{% if question.kind == question.QuestionKind.SHORT_TEXT %}
<input type="text" id="{{question.id}}" name="{{question.id}}">
{% elif question.kind == question.QuestionKind.LONG_TEXT %}
<input type="textarea" id="{{question.id}}" name="{{question.id}}">
{% elif question.kind == question.QuestionKind.SELECT_ONE %}
{% for option in question.options %}
<input type="radio" name="{{question.id}}" value="{{forloop.counter0}}" id="{{question.id}}-{{forloop.counter0}}">
<label for="{{question.id}}-{{forloop.counter0}}">{{option}}</label>
{% endfor %}
{% elif question.kind == question.QuestionKind.SELECT_MANY %}
{% for option in question.options %}
<input type="checkbox" name="{{question.id}}" value="{{forloop.counter0}}" id="{{question.id}}-{{forloop.counter0}}">
<label for="{{question.id}}-{{forloop.counter0}}">{{option}}</label>
{% endfor %}
{% if question.allow_other %}
<input type="checkbox" name="{{question.id}}-other" value="{{question.id}}-other" id="{{question.id}}-other">
<label for="{{question.id}}-other">Other</label>
<input type="text" name="{{question.id}}-other-value">
{% endif %}
{% endif %}
</div>
{% endfor %}

<input type="submit">
</form>
{% endblock %}
