{% extends "base.html" %}

{% load stave_tags %}
{% inputs 'CrewBuilderDetailInputs' %}

{% block content %}
<header>
    <h1>
        Assigning {{ role.name }} for {% if game %}{{ game.event }}{% if game.event.games.all|length != 1 %} (Game {{ game.order_key }}){% endif %}{% else %}{{ event }}{% endif %}
    </h1>
</header>

<div style="overflow-x: auto;">
<table>
    {% include 'stave/partials/application_table_header.html' with form=form only %}
    <tbody>
        {% for entry in applications %}
        {% if entry.availability_status != ConflictKind.NON_SWAPPABLE_CONFLICT %}
        <tr>
            <td>
                <form class="inline" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ crew.id }}" id="crew_id" name="crew_id">
                    <input type="hidden" value="{{ entry.application.id }}" id="application_id" name="application_id">
                    {% if entry.availability_status == ConflictKind.NONE %}
                        <input type="submit" value="Select">
                    {% else %}
                        <input type="submit" value="Move Here">
                    {% endif %}
                    <a role="button" href="{% url 'view-application' entry.application.id %}">View</a>
                </form>
            </td>
            {% include 'stave/partials/application_table_row.html' with form=form entry=entry only %}
        </tr>
        {% endif %}
        {% empty %}
        <caption>
            No applicants are available.
        </caption>
        {% endfor %}
    </tbody>
</table>
</div>
{% if unavail_applications %}
<div style="overflow-x: auto;">
<details>
        <summary>Show {{ unavail_applications|length }} unavailable applicant{% if unavail_applications|length != 1 %}s{% endif %}</summary>
<table>
    {% include 'stave/partials/application_table_header.html' with form=form only %}
    <tbody>
        {% for entry in applications %}
        {% if entry.availability_status == ConflictStatus.NON_SWAPPABLE_CONFLICT %}
        <tr>
            <td>
                <a role="button" href="{% url 'view-application' entry.application.id %}">View</a>
            </td>
            {% include 'stave/partials/application_table_row.html' with form=form entry=entry only %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</details>
</div>
{% endif %}
{% endblock %}
