{% extends "base.html" %}

{% load stave_tags %}
{% load tz %}

{% inputs 'CrewBuilderInputs' %}

{% block content %}
{% timezone event.league.time_zone %}

<style type="text/css">
    .crew-container, .game-container {
        flex: 0 1 auto;
    }
    .crews-container, .day-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
</style>

<header>
    <h1>
        Staffing for <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
    </h1>
    {% if editable %}
    <a role="button" href="{% url 'send-email' form.event.league.slug form.event.slug form.slug 'schedule' %}{% querystring redirect_url=request.path %}">Send Schedule Emails</a>
    {% endif %}
</header>

{% if editable %}
<details>
    <summary>How to use this page</summary>
{% if form.application_kind == form.ApplicationKind.CONFIRM_THEN_ASSIGN %}
<p>This application form is using the Confirm, then Assign model.

<ol>
    <li>Mark the application Invited on Applications.</li>
    <li>When you're ready to send invitations, click Send Emails on Applications.</li>
    <li>Users Confirm or Decline their invitations. You'll see their status on Applications as they update.</li>
    <li>Use Crew Builder to make assignments. You can select users who've Confirmed their invitations.</li>
    <li>When you're ready to send out a schedule, click Send Schedule Emails in Crew Builder.</li>
</ol>
</p>
{% else %}
<p>This application form is using the Confirm Only model.

<ol>
    <li>Build crews here, drawing on all applications whose status is Applied.</li>
    <li>When you're ready to send out a schedule, click Send Schedule Emails in Crew Builder.</li>
</ol>
</p>
{% endif %}
</details>
{% endif %}

{# Static crews #}
{# Only available on multi-game events #}
{# Not available on forms that only do event-wide role groups #}

{% if allow_static_crews %}
<header>
<h4>Static Crews</h4>
</header>

{# This loop is structured thus so that we can present an empty header with a Create button where we don't have static crews for a given Role Group #}

{% for role_group in role_groups %}
{% with counts=counts|get:role_group.id %}
{% if not role_group.event_only %}
<header>
    <h5>{{ role_group }}</h5>
    {% if editable %}
<form class="inline" method="POST" action="{% url 'crew-builder-add-crew' form.event.league.slug form.event.slug form.slug %}">
    {% csrf_token %}
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    <input type="hidden" name="role_group_id" value="{{ role_group.id }}">
    <input type="submit" value="Add {{role_group }} Crew">
</form>
{% endif %}
</header>
<div class="crews-container">

{% for crew in static_crews|get:role_group.id %}
<div class="crew-container">
    <h6>{{ crew }}</h6>
{% include 'stave/partials/crew_editor.html' with editable=editable form=form crew=crew crew_assignments=crew.get_assignments_by_role_id role_group=crew.role_group focus_user_id=None counts=counts|get:crew.id csrf_token=csrf_token only %}
</div>
{% empty %}
No static crews yet.
{% endfor %}
</div>
{% endif %}
{% endwith %}
{% endfor %}
{% endif %}

{# End of flex container #}

{# Event-wide roles #}

{% for role_group in role_groups %}
{% with counts=counts|get:role_group.id %}
<div class="crews-container">
{% if role_group.id in event_crews %}
{% for crew in event_crews|get:role_group.id %}
<div class="crew-container">
<h4>{{ crew }}</h4>
{% include 'stave/partials/crew_editor.html' with editable=editable form=form crew_assignments=crew.get_assignments_by_role_id role_group=role_group crew=crew focus_user_id=None csrf_token=csrf_token counts=counts|get:crew.id only %}
</div>
{% endfor %}
{% endif %}
</div>
{% endwith %}
{% endfor %}

{# End of flex container #}

{# Per-game roles #}
{% for day in event.days %}
{% if show_day_header %}
        <h2>{{ day }}</h2>
    {% endif %}

    <div class="day-container">
        {% for game in games %}
            {% with start_time=game.start_time|localtime end_time=game.end_time|localtime %}
            {% if start_time.date|date:"Y-m-d" == day %}
                <div class="game-container">
                    {% if games|length > 1 %}
                        <h3>
                            Game {{ game.order_key }} ({{ start_time.time }}&ndash;{{ end_time.time }} {{ start_time|tzname }})
                        </h3>
                    {% endif %}
                    <div class="crews-container">

                    {% with game.get_crew_assignments_by_role_group as role_group_assignments %}
                    {% for role_group in role_groups %}
                    {% with counts=counts|get:role_group.id %}
                        <div class="crew-container">
                            {% with role_group.id as role_group_id %}
                            {% with role_group_assignments|get:role_group_id as rgca %}
                            {% if rgca %}
                                    <header>
                                        <h4>
                                            {{ role_group.name }}{% if rgca.crew_id %} ({{ rgca.crew }}){% endif %}
                                        </h4>
                                        {% if rgca.crew_id and editable %}
                                            <form class="inline" action="{% url 'set-game-crew' form.event.league.slug form.event.slug form.slug game.id role_group.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <input type="submit" value="Unassign Crew">
                                            </form>
                                        {% endif %}
                                    </header>
                                        {% if not rgca.crew_id and static_crews|get:role_group_id and editable %}
                                            <form class="inline" action="" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <div style="display: flex; flex-direction: col; flex-wrap: wrap; gap: 0.5rem;">
                                                    <div style="flex: 1 1 auto;">
                                                        Assign:
                                                    </div>
                                                    {% for static_crew in static_crews|get:role_group_id %}
                                                        <div style="flex: 1 1 auto;">
                                                            <input type="submit"
                                                                   formaction="{% url 'set-game-crew' form.event.league.slug form.event.slug form.slug game.id role_group.id static_crew.id %}"
                                                                   value="{{ static_crew }}">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </form>
                                        {% endif %}
                                {% include 'stave/partials/crew_editor.html' with editable=editable form=form crew_assignments=rgca.effective_crew_by_role_id role_group=role_group crew=rgca.crew_overrides focus_user_id=focus_user_id csrf_token=csrf_token counts=counts|get:rgca.crew_overrides_id only %}
                            {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        {# end of flex item for role group #}
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                    </div>
                </div>{# end of flex container for game #}
                {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {# end of flex container for day #}
{% endfor %}
{% endtimezone %}
{% endblock %}
