{% extends "base.html" %}

{% load stave_tags %}
{% block content %}

{# Parameters: form, role_group_crew_assignments #}
{# The latter may be a subset of the total role_group_crew_assignments for a given game #}
{% for role_group in form.role_groups.all %}
<h2>{{ role_group.name }}</h2>

<table>
<thead>
    <th>Role Name</th>
    <th>Assignment</th>
    <th>Actions</th>
</thead>
{% for role in role_group.roles.all %}
<tbody>
<tr>
    <td>{{ role.name }}</td>
    <td>
        {% if role.id in crew_assignments %}
        {% with crew_assignments|get:role.id as assignment %}
        {{ assignment.user.preferred_name }}
        {% endwith %}
        {% else %}
        Open
        {% endif %}
    </td>
    <td><a href="{% url 'crew-builder-detail' form.event.league.slug form.event.slug form.slug role.id %}">Assign</a></td>
</tr>
</tbody>

{% endfor %}

</table>

{% endfor %}

{% if applications is not None and role_id %}

<table>
    <thead>
        <th>Action</th>
        <th>Preferred Name</th>
        <th>Pronouns</th>
        <th>Application</th>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>

                <form method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ application.id }}" id="application_id" name="application_id">
                    <input type="submit" value="Select">
                </form>
            </td>
            <td>{{ application.user.preferred_name }}</td>
            <td>{{ application.user.pronouns }}</td>
            <td>
                <a href="{% url 'view-application' application.id %}">View</a></td>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
