{% extends "base.html" %}

{% load stave_tags %}
{% inputs 'CrewBuilderDetailInputs' %}

{% block content %}
<header>
    <h1>
        Assigning {{ role.name }} for {% if game %}{{ game.event }}{% if game.event.games.all|length != 1 %} (Game {{ game.order_key }}){% endif %}{% else %}{{ event }}{% endif %}
    </h1>
</header>

<table>
    {% include 'stave/partials/application_table_header.html' with form=form only %}
    <tbody>
        {% for application in applications %}
        <tr>
            <td>
                <form class="inline" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ crew.id }}" id="crew_id" name="crew_id">
                    <input type="hidden" value="{{ application.id }}" id="application_id" name="application_id">
                        <input type="submit" value="Select">
                        <a role="button" href="{% url 'view-application' application.id %}">View</a>
                </form>
            </td>
            {% include 'stave/partials/application_table_row.html' with form=form application=application only %}
        </tr>
        {% empty %}
        <caption>
            No applicants are available.
        </caption>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
