{% extends card_kind %}
{% load stave_tags %}
{% load tz %}

{% block actions %}
{% with can_manage_this_event=user|can_manage_event:item %}
{% if can_manage_this_event %}
<a href="{% url 'event-edit' item.league.slug item.slug %}" role="button">Edit Event</a>
{% endif %}
{% endwith %}
{% endblock %}

{% block description %}
{% timezone item.league.time_zone %}
{{ item.start_date }}{% if item.start_date != item.end_date %}&ndash;{{ item.end_date }}{% endif %},
{{ item.league }}
{% endtimezone %}
{% endblock %}

{% block metadata %}
{% timezone item.league.time_zone %}
<dl>
    <div>
      <dt>Host</dt>
      <dd><a href="{% url 'league-detail' item.league.slug %}">{{ item.league.name }}</a></dd>
    </div>
    <div>
        <dt>Status</dt>
        <dd> {{ item.get_status_display }}</dd>
    </div>
    {% if item.end_date != item.start_date %}
    <div>
        <dt>Dates</dt>
        <dd>{{ item.start_date }}-{{ item.end_date }}</dd>
    </div>
    {% else %}
    <div>
        <dt>Date</dt>
        <dd>{{ item.start_date }}</dd>
    </div>
    {% if item.games.all %}
    <div>
        <dt>Time</dt>
        <dd>
            {{ item.games.first.start_time|time }}&ndash;{{ item.games.last.end_time|time }} {{ item.games.last.end_time|tzname }}
        </dd>
    </div>
    {% endif %}
    {% endif %}
    {% if item.games.all|length > 1 %}
    <div>
        <dt>Games</dt>
        <dd>{{ item.games.all|length }}</dd>
    </div>
    {% endif %}
    <div>
        <dt>Location</dt>
        <dd>{{ item.location }}</dd>
    </div>
</dl>
{% endtimezone %}
{% endblock %}

{% block navigation %}
{% if card_kind == "stave/page_card.html" %}
{% with can_manage_this_event=user|can_manage_event:item is_staffed_on_event=user|is_staffed_on_event:item %}
    {% if can_manage_this_event or is_staffed_on_event %}
    <a href="{% url 'event-schedule' item.league.slug item.slug %}">Staffing Schedule</a>
    {% endif %}
    {% if can_manage_this_event %}
    <a href="{% url 'event-staff-list' item.league.slug item.slug %}">Staff List</a>
    {% endif %}
{% endwith %}
{% else %}
{% for application_form in user|listed_application_forms:item %}
<div>
<a href="{{ application_form.get_absolute_url }}">
    Apply as {{ application_form.role_groups.all|commalist }}
</a>{% if application_form.close_date %} (closes {{ application_form.close_date }}){% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock %}
