{% load stave_tags %}
{% load tz %}

{% inputs 'EventCardInputs' %}
{% with can_manage_this_event=user|can_manage_event:event is_staffed_on_event=user|is_staffed_on_event:event %}

{% timezone event.league.time_zone %}
<article>
<header>
    <h4 style>{{ event.name }}</h4>
    {% if can_manage_this_event %}
    <div class="header-buttons">
    <a href="{% url 'event-edit' event.league.slug event.slug %}" role="button">Edit Event</a>
    </div>
    {% endif %}
</header>

    <dl>
        {% if show_host %}
        <div>
          <dt>Host</dt>
          <dd><a href="{% url 'league-detail' event.league.slug %}">{{ event.league.name }}</a></dd>
        </div>
        {% endif %}
        <div>
            <dt>Status</dt>
            <dd> {{ event.get_status_display }}</dd>
        </div>
        {% if event.end_date != event.start_date %}
        <div>
            <dt>Start Date</dt>
            <dd>{{ event.start_date }}</dd>
        </div>
        <div>
            <dt>End Date</dt>
            <dd>{{ event.end_date }}</dd>
        </div>
        {% else %}
        <div>
            <dt>Date</dt>
            <dd>{{ event.start_date }}</dd>
        </div>
        <div>
            <dt>Time</dt>
            <dd>{% if event.games.all %}{{ event.games.first.start_time|time }}&ndash;{{ event.games.last.end_time|time }} {{ event.games.last.end_time|tzname }}{% endif %}</dd>
        </div>
        {% endif %}
        {% if event.games.all|length > 1 %}
        <div>
            <dt>Games</dt>
            <dd>{{ event.games.all|length }}</dd>
        </div>
        {% endif %}
        <div>
            <dt>Location</dt>
            <dd>{{ event.location }}</dd>
        </div>
    </dl>
    {% if show_details %}
    <a href="{% url 'event-detail' event.league.slug event.slug %}">Details</a>
    {% endif %}
    {% if can_manage_this_event or is_staffed_on_event %}
    <a href="{% url 'event-schedule' event.league.slug event.slug %}">Staffing Schedule</a>
    {% endif %}
    {% if can_manage_this_event %}
    <a href="{% url 'event-staff-list' event.league.slug event.slug %}">Staff List</a>
    {% endif %}

    {% if show_forms %}
    <header>
        <h5>Application Forms</h5>
        {% if can_manage_this_event %}
        <div class="header-buttons">
            <a href="{% url 'form-create' event.league.slug event.slug %}" role="button">Create Form</a>
        </div>
        {% endif %}
    </header>
    {% for form in application_forms %}
    <h6>{{ form.role_groups.all|commalist }}</h6>
    <a href="{% url 'application-form' event.league.slug event.slug form.slug %}">Form</a>
    {% if can_manage_this_event %}
    <a href="{% url 'form-applications' event.league.slug event.slug form.slug %}">Applications</a>
    <a href="{% url 'crew-builder' event.league.slug event.slug form.slug %}">Crew Builder</a>
    {% if can_manage_this_event or is_staffed_on_event %}
    <a href="{{ form.get_schedule_url }}">Staffing Schedule</a>
    {% endif %}
    {% endif %}
    {% empty %}
    No application forms are currently open.
{% endfor %}
{% endif %}

{% if show_games %}
<header>
    <h5>Games</h5>
    {% if can_manage_this_event %}
    <div class="header-buttons">
        <a href="{% url 'event-edit' event.league.slug event.slug %}{% querystring action='add'%}" role="button">Create Game</a>
    </div>
    {% endif %}
</header>
    {% for game in event.games.all %}
    <header>
        <h6>Game {{ game.order_key }} ({{game.start_time|time}}&ndash;{{game.end_time|time}} {{ game.start_time|tzname }})</h6>
    {% if can_manage_this_event %}
    <a role="button" href="{% url 'event-edit' event.league.slug event.slug %}">Edit</a>
    {% endif %}
    </header>
    <dl>
        <div>
            <dt>Association</dt>
            <dd>{{ game.get_association_display }}</dd>
        </div>
        <div>
            <dt>Type</dt>
            <dd>{{ game.get_kind_display }}</dd>
        </div>
        <div>
            <dt>Home</dt>
            <dd>{{ game.home_league}} {{ game.home_team }}</dd>
        </div>
        <div>
            <dt>Visitor</dt>
            <dd>{{ game.visiting_league}} {{ game.visiting_team }}</dd>
        </div>
    </dl>
    {% empty %}
    No games scheduled yet.
    {% endfor %}
{% endif %}

</article>
{% endtimezone %}
{% endwith %}
