{% extends "stave/event.html" %}

{% block navigation %}
{# Iterate over all application forms on this event #}
{% for app_form in item.application_forms %}
{# Show the staffing schedule link and the user's roles #}
{# Note that we filter to a subset of all data relevant for display here #}

{% for app in app_form.applications.all %}
{{ app.user_visible_status.label }}
{% endfor %}
<a href="{{ app.get_absolute_url }}">{{ app_form.role_group_names }}</a>

{# staffing schedule link TODO #}

{% for crew in item.crews %}
{% for assignment in crew.assignments %}
{{ assignment.role }}
{% endfor %}

{% endfor %}

{% endblock navigation %}
