{% load stave_tags %}
{% inputs 'EventCardInputs' %}

<article>
<header>
    <h4 style>{{ event.name }}</h4>
    {% if user|can_manage_event:event %}
    <div class="header-buttons">
    <a href="{% url 'event-edit' event.league.slug event.slug %}" role="button">Edit Event</a>
    </div>
    {% endif %}
</header>

    <dl>
        {% if show_host %}
        <div>
          <dt>Host</dt>
          <dd><a href="{% url 'league-detail' event.league.slug %}">{{ event.league.name }}</a></dd>
        </div>
        {% endif %}
        <div>
            <dt>Status</dt>
            <dd> {{ event.get_status_display }}</dd>
        </div>
        {% if event.end_date != event.start_date %}
        <div>
            <dt>Start Date</dt>
            <dd>{{ event.start_date }}</dd>
        </div>
        <div>
            <dt>End Date</dt>
            <dd>{{ event.end_date }}</dd>
        </div>
        {% else %}
        <div>
            <dt>Date</dt>
            <dd>{{ event.start_date }}</dd>
        </div>
        <div>
            <dt>Time</dt>
            <dd>{{ event.games.first.start_time|time }}&ndash;{{ event.games.last.end_time|time }}</dd>
        </div>
        {% endif %}
        {% if event.games.all|length > 1 %}
        <div>
            <dd>Games</dd>
            <dt>{{ event.games.all|length }}</dt>
        </div>
        {% endif %}
        <div>
            <dt>Location</dt>
            <dd>{{ event.location }}</dd>
        </div>
    </dl>
    {% if show_details %}
    <a href="{% url 'event-detail' event.league.slug event.slug %}">Details</a>
    {% endif %}
    <a href="{% url 'event-schedule' event.league.slug event.slug %}">Staffing Schedule</a>

    {% if show_forms %}
    <header>
        <h5>Application Forms</h5>
        <div class="header-buttons">
            <a href="{% url 'form-create' event.league.slug event.slug %}" role="button">Create Form</a>
        </div>
    </header>
    {% for form in application_forms %}
    <h6>{{ form.role_groups.all|commalist }}</h6>
    <a href="{% url 'application-form' event.league.slug event.slug form.slug %}">Form</a>
    {% if user|can_manage_event:event %}
    <a href="{% url 'form-applications' event.league.slug event.slug form.slug %}">Applications</a>
    <a href="{% url 'crew-builder' event.league.slug event.slug form.slug %}">Crew Builder</a>
    <a href="{{ form.get_schedule_url }}">Staffing Schedule</a>
    {% endif %}
    {% empty %}
    No application forms are currently open.
{% endfor %}
{% endif %}

{% if show_games %}
<header>
    <h5>Games</h5>
    <div class="header-buttons">
        <a href="{% url 'game-create' event.league.slug event.slug %}" role="button">Create Game</a>
    </div>
</header>
    {% for game in event.games.all %}
    <h6>Game {{ game.order_key }} ({{game.start_time|time}}&ndash;{{game.end_time|time}})</h6>
    <a role="button" href="{% url 'game-edit' event.league.slug event.slug game.id %}">Edit</a>
    {% empty %}
    No games scheduled yet.
    {% endfor %}
{% endif %}

</article>
