{% extends "stave/event.html" %}

{% block navigation %}
{# Iterate over all application forms on this event #}
{% for app_form in item.application_forms.all %}
{# Show the staffing schedule link and the user's roles #}
{# Note that we filter to a subset of all data relevant for display here #}

{% for app in app_form.applications.all %}
{% if app.status == app.ApplicationStatus.ASSIGNED %}
<span>
<strong><a href="{{ app.get_absolute_url }}">{{ app_form.role_group_names }}</a></strong>: staffed as
{% for crew in item.crews.all %}
{% if crew.role_group in app_form.role_groups.all %}
{% for assignment in crew.assignments.all %}
{{ assignment.role }}{% if not forloop.last %}, {% else %}.{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
<a href="{{ app_form.get_schedule_url }}">View schedule</a>
</span>
{% else %}
<a href="{{ app.get_absolute_url }}">{{ app_form.role_group_names }} ({{ app.user_visible_status.label }})</a>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock navigation %}
