{% extends "base.html" %}
{% load stave_tags %}
{% load partials %}
{% block breadcrumbs %}
{% include "stave/partials/staffing_header.html" with form=form request=request only %}
{% endblock %}

{% block content %}
{% with request.user|can_manage_event:form.event as can_manage_event %}
<form method="POST" action="{{ request.path }}">
{% csrf_token %}
<input type="hidden" name="redirect_url" id="redirect_url" value="{{ request.path }}">

<details>
    <summary>How to use this page</summary>
{% if form.application_kind == form.ApplicationKind.CONFIRM_THEN_ASSIGN %}
<p>This application form is using the Confirm, then Assign model.

<ol>
    <li>Mark applications for Invitation or Rejection here as you make decisions.</li>
    <li>Draft your crews in Crew Builder. As you add users to crews, they'll automatically be marked for invitation.</li>
    <li>Send invitation and rejection emails from Comm Center.</li>
    <li>Users confirm or decline their invitations. You'll see their status here as they update. Stave will automatically remove users who decline their invitations from Crew Builder.</li>
    <li>Once you finish your crews in Crew Builder, send assignments from Comm Center.</li>
</ol>
</p>
{% else %}
<p>This application form is using the Confirm Only model.

<ol>
    <li>Browse available applications here. You can choose to mark applications Rejected to hide them in Crew Builder. This won't send any emails yet.</li>
    <li>Use Crew Builder to make assignments.</li>
    <li>Once you finish your crews in Crew Builder, send assignments and rejections from Comm Center.</li>
</ol>
</p>
{% endif %}
</details>

{% partialdef application-table %}
        {% for application in applications %}
        <tr>
            <td class="inline">
                {% include "stave/application_actions.html" with user=request.user can_manage_event=can_manage_event application=application ApplicationStatus=ApplicationStatus include_view=True minimal=True only %}
            </td>
            {% include 'stave/partials/application_table_row.html' with form=form application=application only %}
        </tr>
        {% endfor %}
{% endpartialdef %}

<div style="overflow-x: auto;">
<table>
    {% include "stave/partials/application_table_header.html" with form=form only %}
    {% if applications_action|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Open</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications_action as applications %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_inprogress|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>In Progress</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications_inprogress as applications %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_staffed|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Staffed</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications_staffed as applications %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_closed|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Closed</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications_closed as applications %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
</table>
</div>
{% endwith %}
{% endblock %}
