{% extends "base.html" %}
{% load partials stave_tags %}
{% block breadcrumbs %}
{% include "stave/partials/staffing_header.html" with form=form request=request only %}
{% endblock breadcrumbs %}

{% block content %}
{% with can_manage_event=request.user|can_manage_event:form.event %}
<form method="POST" action="{{ request.path }}">
{% csrf_token %}
<input type="hidden" name="redirect_url" id="redirect_url" value="{{ request.path }}">

<aside>
    <a target="_blank" href="https://docs.stave.app/staffing.html#viewing-applications">Learn how to use this page</a>.
    {% if form.application_kind == form.ApplicationKind.CONFIRM_THEN_ASSIGN %}
    This application form is using the Confirm, then Assign model.
    {% else %}
    This application form is using the Confirm Only model.
    {% endif %}
</aside>

{% partialdef application-table %}
        {% for application in applications %}
        <tr>
            <td class="inline">
                {% include "stave/application_actions.html" with user=request.user can_manage_event=can_manage_event application=application ApplicationStatus=ApplicationStatus include_view=True minimal=True only %}
            </td>
            {% with game_count=game_counts|get:application.user_id %}
            {% include 'stave/partials/application_table_row.html' with form=form application=application game_count=game_count only %}
            {% endwith %}
        </tr>
        {% endfor %}
{% endpartialdef %}

<div style="overflow-x: auto;">
<table>
    {% include "stave/partials/application_table_header.html" with form=form only %}
    {% if applications_action|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Open</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications=applications_action %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_inprogress|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>In Progress</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications=applications_inprogress %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_staffed|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Staffed</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications=applications_staffed %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
    {% if applications_closed|length > 0 %}
    <thead>
        <tr>
            <th scope="rowgroup" colspan="999" style="padding-left: 2rem;"><strong>Closed</strong></th>
        </tr>
    </thead>
    <tbody>
        {% with applications=applications_closed %}
        {% partial application-table %}
        {% endwith %}
    </tbody>
    {% endif %}
</table>
</div>
{% endwith %}
{% endblock content %}
