{% extends "base.html" %}

{% block content %}
<header>
    <h1>Application Form for {{ event }}</h1>
</header>
<form method="post" action="{{ url_base }}">
    {% csrf_token %}
    {{ form }}
    <hr>
    {{ question_formset.management_form }}
    {% for question_form in question_formset %}
    <div>
        <fieldset>
            <legend><strong>{{ question_form.get_kind_display }} Question</strong></legend>
        {{ question_form }}
        </fieldset>
    </div>
    <hr>
    {% endfor %}
    <div>
        <input type="submit" formaction="{{ url_base }}{{ QuestionKind.SHORT_TEXT }}/" formnovalidate value="Add Short Text">
        <input type="submit" formaction="{{ url_base }}{{ QuestionKind.LONG_TEXT }}/" formnovalidate value="Add Long Text">
        <input type="submit" formaction="{{ url_base }}{{ QuestionKind.SELECT_ONE }}/" formnovalidate value="Add Single Choice">
        <input type="submit" formaction="{{ url_base }}{{ QuestionKind.SELECT_MANY }}/" formnovalidate value="Add Multiple Choice">
    </div>
    <hr>
    <input type="submit" value="Save" method="POST">
</form>
{% endblock %}
