<article>
    <header>
        <h3>
        {% block header %}
        {{ item }}
        {% endblock header %}
        </h3>
        <div class="inline">
        {% block actions %}
        {% endblock actions %}
        </div>
    </header>
    {% block metadata %}
    {% endblock metadata %}
    <div>
    {% block description %}
    {% endblock description %}
    </div>
    <nav>
    {% if item.get_absolute_url != request.path %}
    <a href="{{ item.get_absolute_url }}">View</a>
    {% endif %}
    {% block navigation %}
    {% endblock navigation %}
    </nav>
</article>
