{% extends "base.html" %}
{% load stave_tags %}
{% inputs 'HomeInputs' %}

{% block content %}

<p style="text-align: center;">
    Welcome to Stave, a free and open source platform for roller derby signups and staffing.<br>
    <small>
        Getting started? Read the <a target="_blank" href="https://docs.stave.app/">docs</a> or watch <a href="#video-guides">videos below</a>.
        <a href="mailto:david@ktema.org">Contact Stacktrace</a> with questions.
    </small>
</p>

<div style="display: flex; gap: 1rem; flex-wrap: wrap;">

<article style="flex: 1 1 auto;">
    <header><h2>Open Applications</h2></header>

{% include "stave/partials/grouped_application_list.html" with page_obj=application_forms user=request.user card_kind="stave/mini_card.html" csrf_token=csrf_token only %}

{% if application_forms|length %}
Showing {{ application_forms|length }} of {{ application_forms.paginator.count }}.
<a href="{% url 'open-applications' %}">See all open applications</a>
{% else %}
There aren't any open applications for you right now.
{% endif %}
</article>

{% if request.user.is_authenticated %}

<article style="flex: 1 1 auto;">
    <header>
        <h2>My Applications</h2>
    </header>
{% for application in applications %}
{% include "stave/event_applied_card.html" with item=application.form.event application=application user=request.user card_kind="stave/mini_card.html" csrf_token=csrf_token only %}
{% empty %}
<p>
You don't have any applications pending right now.
</p>
{% endfor %}
Showing {{ applications|length }} of {{ applications.paginator.count }}.
<a href="{% url 'my-applications' %}">See all my applications</a>
{% url 'calendar-user' request.user.id as url %}
{% include "stave/partials/calendar.html" with url=url only %}
</article>

<article style="flex: 1 1 auto;">
    <header>
        <h2>Staffing</h2>
    </header>
{% for event in events %}
{% include "stave/partials/event_action_card.html" with item=event user=request.user card_kind="stave/mini_card.html" csrf_token=csrf_token only %}
{% empty %}
You aren't managing any events.
{% endfor %}
Showing {{ events|length }} of {{ events.paginator.count }}.
<a href="{% url 'my-events' %}">See all my events</a>
{% url 'calendar-user' request.user.id as url %}
{% include "stave/partials/calendar.html" with url=url only %}
</article>

<article style="flex: 1 1 auto;">
<header>
    <h2>My Leagues</h2>
</header>

{% for league in leagues %}
{% include "stave/league.html" with item=league user=request.user card_kind="stave/mini_card.html" csrf_token=csrf_token only %}
{% endfor %}
Showing {{ leagues|length }} of {{ leagues.paginator.count }}.
<a href="{% url 'my-leagues' %}">See all my leagues</a>
</article>

<article style="flex: 1 1 auto;">
<header>
    <h2>Subscriptions and League Groups</h2>
</header>

<header>
    <h3>League Groups</h3>
    <a role="button" href="{% url 'league-group-create' %}">Create</a>
</header>
{% for league_group in league_groups %}
{% include "stave/league_group.html" with item=league_group user=request.user card_kind="stave/mini_card.html" csrf_token=csrf_token only %}
{% empty %}
You don't have any League Groups right now.
{% endfor %}

<header>
    <h3>Subscriptions</h3>
</header>
<dl>
    <div>
        <dt>Leagues</dt>
        <dd>{{ subscribed_leagues }}</dd>
    </div>
    <div>
        <dt>League Groups</dt>
        <dd>{{ subscribed_league_groups }}</dd>
    </div>
</dl>
<a href="{% url 'my-subscriptions' %}">See all my subscriptions</a>
</article>

<article style="flex: 1 1 auto;">
<header>
    <h2>Officiating History</h2>
</header>

<nav>
<a href="{% url 'officiating-history' %}">View my Stave history</a>
{% if request.user.game_history_url %}
<a target="_blank" href="{{ request.user.game_history_url }}">View my official's history document</a>
</nav>
{% endif %}
</article>

{% else %}
<article style="flex: 1 1 auto;">
    <header><h2>Join Now</h2></header>
    {% include 'stave/login_options.html' %}
</article>
{% endif %}
<article style="flex: 1 1 auto;">
    <header>
        <h2 id="video-guides">Video Guides</h2>
    </header>
<style type="text/css">
iframe {
    margin: 0.5rem;
}
</style>
    <iframe src="https://www.youtube-nocookie.com/embed/NDkV3FNB48A?si=Jj7DTeVj7I54jzHd" title="Applying as an Official with Stave" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe src="https://www.youtube-nocookie.com/embed/0Nwgefh4gOU?si=wZIm0VQoNB72I8cU" title="Getting Started with Stave for Leagues" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe src="https://www.youtube-nocookie.com/embed/QYll774ke7w?si=y7KyvCiEe2MfY7UJ" title="Staffing Games" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe src="https://www.youtube-nocookie.com/embed/f4whVACtDYs?si=uBZreTzTa3zOPqEe" title="Staffing Tournaments" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</article>
</div>
{% endblock %}
