{% extends "base.html" %}
{% load stave_tags %}

{% block content %}

<div style="display: flex; gap: 1rem; ">

<article style="{% if request.user.is_authenticated %}flex: 1fr;{% else %}flex: 2fr;{% endif %}">
    <header><h2>Open Applications</h2></header>

<ul>
{% for application_form in application_forms %}
    <li>
        {{ application_form.event }}: <a href="{{ application_form.get_absolute_url }}">Apply as {{ application_form.role_groups.all|commalist }}</a> {% if application_form.close_date %}(closes {{ application_form.close_date }}){% endif %}
    </li>
{% empty %}
There aren't any open applications for you right now.
{% endfor %}
</ul>
</article>

{% if request.user.is_authenticated %}

<article style="flex: 1fr;">
    <header>
        <h2>My Applications</h2>
    </header>

<ul>
{% for application in applications %}
<li><a href="{% url 'view-application' application.id %}">{{ application.form.event }} ({{application.get_status_display}})</a></li>
{% empty %}
<p>
You don't have any open applications right now.
</p>
{% endfor %}
</ul>
</article>

<article style="flex: 1fr;">
    <header>
        <h2>My Events</h2>
    </header>
<ul>
{% for event in events %}
<li><a href="{% url 'event-detail' event.league.slug event.slug %}">{{ event }}</a></li>
{% empty %}
You aren't managing any events.
{% endfor %}
</ul>
</article>
{% else %}
<article style="flex: 1fr;">
    <header><h2>Join now</h2></header>
    Use your Facebook or Google account, or your email address, to get started.
    <a href="{% url 'account_signup' %}">Sign Up</a>
</article>
{% endif %}
</div>
{% endblock %}
