{% extends "base.html" %}
{% load stave_tags %}

{% block content %}


<p style="text-align: center;">
Welcome to Stave, a free and open source platform for roller derby signups and staffing.<br> <small>Stave is in <strong>open beta</strong>. Please <a href="mailto:david@ktema.org">contact Stacktrace</a> with any concerns or issues. <a href="#video-guides">Getting started?</a></small>
</p>

<div style="display: flex; gap: 1rem; flex-wrap: wrap;">

<article style="flex: 1 1 auto;">
    <header><h2>Open Applications</h2></header>

<ul>
{% regroup application_forms by event as app_forms_by_event %}
{% for by_event in app_forms_by_event %}
    <li>
        <a href="{{ by_event.grouper.get_absolute_url }}">{{ by_event.grouper }} </a><br>
        {% for application_form in by_event.list %}
        <a href="{{ application_form.get_absolute_url }}">Apply as {{ application_form.role_groups.all|commalist }}</a>{% if application_form.close_date %} (closes {{ application_form.close_date }}){% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        <br><small>{{ by_event.grouper.start_date }}{% if by_event.grouper.start_date != by_event.grouper.end_date %}&ndash;{{ by_event.grouper.end_date }}{% endif %}, {{ by_event.grouper.league }}, {{ by_event.grouper.league.location }}</small>
    </li>
{% empty %}
There aren't any open applications for you right now.
{% endfor %}
</ul>
</article>

{% if request.user.is_authenticated %}

<article style="flex: 1 1 auto;">
    <header>
        <h2>My Applications</h2>
    </header>

<ul>
{% for application in applications %}
<li><a href="{% url 'view-application' application.id %}">{{ application.form.event }} ({{application.user_visible_status.label|title}})</a></li>
{% empty %}
<p>
You don't have any open applications right now.
</p>
{% endfor %}
</ul>
{% url 'calendar-user' request.user.id as url %}
{% include "stave/partials/calendar.html" with url=url only %}
</article>

<article style="flex: 1 1 auto;">
    <header>
        <h2>My Events</h2>
    </header>
<ul>
{% for event in events %}
<li>
    <a href="{% url 'event-detail' event.league.slug event.slug %}">
        {{ event }}
    </a>
    <ul>
    {% for application_form in event.application_forms.all %}
    <li style="display: inline; margin-right: 1rem;"><strong>{{ application_form.role_group_names }}</strong>
    {% if application_form.applications.open|length %}
    <span class="cta">{{ application_form.applications.open|length }} open</span>
    {% endif %}
    {% if application_form.applications.pending|length %}
    <span class="cta">{{ application_form.applications.pending|length }} pending</span>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
</li>
{% empty %}
You aren't managing any events.
{% endfor %}
</ul>
{% url 'calendar-user' request.user.id as url %}
{% include "stave/partials/calendar.html" with url=url only %}
</article>
{% else %}
<article style="flex: 1 1 auto;">
    <header><h2>Join Now</h2></header>
    {% include 'stave/login_options.html' %}
</article>
{% endif %}
<article style="flex: 1 1 auto;">
    <header>
        <h2 id="video-guides">Video Guides</h2>
    </header>
<style type="text/css">
iframe {
    margin: 0.5rem;
}
</style>
    <iframe src="https://www.youtube-nocookie.com/embed/NDkV3FNB48A?si=Jj7DTeVj7I54jzHd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe  src="https://www.youtube-nocookie.com/embed/0Nwgefh4gOU?si=wZIm0VQoNB72I8cU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe  src="https://www.youtube-nocookie.com/embed/QYll774ke7w?si=y7KyvCiEe2MfY7UJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe  src="https://www.youtube-nocookie.com/embed/f4whVACtDYs?si=uBZreTzTa3zOPqEe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</article>
</div>
{% endblock %}
