{% extends "base.html" %}

{% load markdownify %}
{% load stave_tags %}

{% block content %}

<header>
    <h1>{{ league.name }}</h1>
{% if request.user|can_manage_league:league %}
<a role="button" href="{% url 'league-edit' league.slug %}">Edit</a>
{% endif %}
</header>
<dl>
    <div>
        <dt>Website</dt>
        <dd><a href="{{ league.website }}">Go</a></dd>
    </div>
    <div>
        <dt>Location</dt>
        <dd>{{ league.location }}</dd>
    </div>
</dl>
{% if league.logo %}
<img src="{{ league.logo.url }}" alt="{{ league.name }} logo" style="float: right;">
{% endif %}
<p>
{{ league.description|markdownify }}
</p>

<h2>Upcoming Events</h2>

{% for event in league.events.all %}
{% with show_host=False show_details=True %}
{% include "stave/event_card.html" %}
{% endwith %}
{% endfor %}
{% endblock %}
