{% extends "base.html" %}

{% load markdownify %}
{% load stave_tags %}
{% inputs 'LeagueDetailViewInputs' %}

{% block content %}

{% if not league.enabled %}
<div class="disabled-warning">Not yet enabled. Visible only to you. <a href="mailto:david@ktema.org">Contact Stacktrace</a> to enable your league.</div>
{% endif %}

{% include "stave/league.html" with item=league user=request.user card_kind="stave/page_card.html" csrf_token=csrf_token only %}

<p>
{{ league.description|markdownify }}
</p>

{% if league.logo %}
<div style="float: right; max-width: 20%; max-height: 20%;">
<img src="{{ league.logo.url }}" alt="{{ league.name }} logo">
</div>
{% endif %}

<section>
<header>
    <h2>Upcoming Events</h2>
    {% if request.user|can_manage_league_events:league %}
    <div class="inline">
    <a role="button" href="{% url 'event-create' league.slug %}">Create Event</a>
    </div>
    {% endif %}
</header>

{% url 'calendar-league' league.slug as calendar_url %}
{% include "stave/partials/calendar.html" with url=calendar_url only %}

{% for event in events %}
{% include "stave/event.html" with user=request.user item=event csrf_token=csrf_token card_kind="stave/full_card.html" only %}
{% empty %}
<p>
  There are no upcoming events scheduled right now.
</p>
</section>
{% endfor %}
{% endblock %}
