{% extends "base.html" %}

{% load markdownify %}
{% load stave_tags %}
{% inputs 'LeagueDetailViewInputs' %}

{% block content %}

<header>
    <h1>{{ league.name }}</h1>
    <div class="header-buttons">
{% if request.user|can_manage_league:league %}
<a role="button" href="{% url 'league-edit' league.slug %}">Edit</a>
{% endif %}
{% if request.user|can_manage_league_events:league %}
<a role="button" href="{% url 'event-create' league.slug %}">Create Event</a>
{% endif %}
    </div>
</header>
{% if not league.enabled %}
<div class="disabled-warning">Not yet enabled by administrator. Visible only to you.</div>
{% endif %}
<dl>
    {% if league.website %}
    <div>
        <dt>Website</dt>
        <dd><a href="{{ league.website }}">Go</a></dd>
    </div>
    {% endif %}
    {% if league.location %}
    <div>
        <dt>Location</dt>
        <dd>{{ league.location }}</dd>
    </div>
    {% endif %}
</dl>
{% if league.logo %}
<img src="{{ league.logo.url }}" alt="{{ league.name }} logo" style="float: right;">
{% endif %}
<p>
{{ league.description|markdownify }}
</p>

<h2>Upcoming Events</h2>
{% for event in events %}
{% include "stave/event_card.html" with user=request.user event=event application_forms=request.user|listed_application_forms:event show_host=False show_details=True show_forms=True show_games=False only %}
{% endfor %}
{% endblock %}
