{% extends card_kind %}

{% load markdownify stave_tags %}

{% block actions %}
{% if user|can_manage_league:item %}
<a role="button" href="{% url 'league-edit' item.slug %}">Edit</a>
{% endif %}
{% if user.is_authenticated %}
    {% if user|is_subscribed_to_league:item %}
    <form action="{% url 'league-unsubscribe' item.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <input type="submit" value="Unsubscribe">
    </form>
    {% else %}
    <form action="{% url 'league-subscribe' item.slug %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <input type="submit" value="Subscribe">
    </form>
    {% endif %}
{% endif %}
{% endblock actions %}

{% block description %}
{{ item.description|markdownify|truncatewords:"20" }}
{% endblock description %}

{% block metadata %}
<dl>
    {% if item.website %}
    <div>
         <dt>Website</dt>
        <dd><a href="{{ item.website }}">Go</a></dd>
    </div>
    {% endif %}
    {% if item.location %}
    <div>
        <dt>Location</dt>
        <dd>{{ item.location }}</dd>
    </div>
    {% endif %}
</dl>
{% endblock metadata %}

{% block navigation %}
{% if user|can_manage_league:item %}
<a href="{% url 'role-group-list' item.slug %}">Roles</a>
<a href="{% url 'message-template-list' item.slug %}">Message Templates</a>
<a href="{% url 'event-template-list' item.slug %}">Event Templates</a>
<a href="{% url 'application-form-template-list' item.slug %}">Application Form Templates</a>
{% endif %}
{% endblock navigation %}
