{% extends "base.html" %}
{% load stave_tags %}

{% block content %}
<header>
    <h1><a href="{{ league.get_absolute_url }}">{{ league }}</a>: Users and Permissions</h1>
</header>

{% regroup page_obj by user as user_perms %}
{% for entry in user_perms %}
<article>
    <header>
        <h2>{{ entry.grouper }}</h2>
        <a role="button" href="{% url 'league-permission-edit' league.slug entry.grouper.id %}">Edit</a>
    </header>
    <ul>
        {% for perm in entry.list %}
        <li>{{ perm.permission.label }}</li>
        {% endfor %}
    </ul>
</article>
{% endfor %}

{% endblock content %}
