{% extends "base.html" %}
{% load stave_tags %}

{% block content %}
<header>
    <h1>League Groups</h1>
    {% if user.is_authenticated %}<a href="{% url 'league-group-create' %}" role="button">Create</a>{% endif %}
</header>

{% for league_group in page_obj %}
{% include "stave/league_group.html" with item=league_group user=request.user card_kind="stave/full_card.html" csrf_token=csrf_token only %}
{% endfor %}

{% include "stave/partials/pagination.html" with page_obj=page_obj only %}

{% endblock %}
