{% extends "base.html" %}

{% load stave_tags %}

{% block content %}

<h1>Invitation to Manage {{ league }}</h1>

{% if not request.user.is_authenticated %}
<p>
    You've been invited to manage {{ league }} on Stave.
    To view and accept this invitation, you'll need a Stave account.
</p>

{% include "stave/login_options.html" %}

<p>
    If you wish to decline the invitation, you can do so without logging in.
    <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="decline">
        <input type="submit" value="Decline">
    </form>
</p>

{% elif wrong_email %}

{% else %}
<p>
    You've been invited to manage {{ league }}, with the permissions
</p>
<ul>
    {% for perm in perms %}
    <li>{{ perm }}</li>
</ul>

<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="accept">
    <input type="submit" value="Accept">
</form>
<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="decline">
    <input type="submit" value="Decline">
</form>
{% endif %}

{% endblock content %}
