{% extends "base.html" %}
{% load stave_tags %}

{% block content %}
<header>
    <h1><a href="{{ league.get_absolute_url }}">{{ league }}</a>: Users and Permissions</h1>
</header>

<header>
    <h2>Invitations</h2>
    <a role="button" href="{% url 'league-permission-invite' league.slug %}">Invite</a>
</header>

{% for invitation in invitations %}
{% empty %}
You haven't sent any invitations to manage this league or its events.
{% endfor %}

<header>
    <h2>Managers</h2>
</header>

{% regroup leagueuserpermission_list by user as user_perms %}
{% for entry in user_perms %}
<article>
    <header>
        <h3>{{ entry.grouper }}</h3>
        <a role="button" href="{% url 'league-permission-edit' league.slug entry.grouper.id %}">Edit</a>
    </header>
    <ul>
        {% for perm in entry.list %}
        <li>{{ perm.permission_value.label }}</li>
        {% endfor %}
    </ul>
</article>
{% endfor %}

{% endblock content %}
