{% extends "base.html" %}
{% load stave_tags %}
{% inputs 'MessageTemplateEditInputs' %}

{% block content %}
<header>
    <h1>Message Template {{ message_template }}</h1>
</header>
<div style="display: flex; flex-wrap: wrap;">
<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
</form>
<details style="flex: 1 1 25%; box-sizing: border-box;">
    <summary>Merge Fields</summary>
You can include the following merge fields in your template:
<ul>
    {% for merge_field in merge_fields %}
    <li><code>{{ merge_field.field }}</code></li>
    {% endfor %}
</ul>
</details>
</div>


{% endblock %}
