{% extends "base.html" %}

{% load stave_tags %}

{% inputs 'ProfileViewInputs' %}

{% block content %}
<h2>Account Management</h2>
<nav>
    <a href="{% url 'account_email' %}">Manage Email Addresses</a>
    <a href="{% url 'socialaccount_connections' %}">Manage Social Login</a>
    <a href="{% url 'account_change_password' %}">Change Password</a>
    <a href="{% url 'mfa_add_webauthn' %}">Add Passkey</a>
</nav>

<h2>Profile</h2>
<p>Information from your profile can be automatically included when you complete an application form. You'll always be notified before profile information is shared. Your profile is not visible to other users.</p>

<form action="{{ request.path }}" method="POST">
    {% csrf_token %}

    {{ form }}

<input type="submit" value="Update">
</form>

{% endblock %}
