{% extends "base.html" %}
{% load stave_tags %}
{% inputs 'SendEmailInputs' %}

{% block content %}
<header>
    <h1>Send {{ kind.value|title }} Email for {{ application_form }}</h1>
</header>

<div style="display: flex; flex-wrap: wrap;">

<details style="flex: 1 1 45%; box-sizing: border-box;">
    <summary>Recipients ({{ members|length }})</summary>
<ul>
    {% for member in members %}
    <li>{{ member }}</li>
    {% empty %}
    <li>There aren't any recipients.</li>
    {% endfor %}
</ul>
</details>
<details style="flex: 1 1 45%; box-sizing: border-box;">
    <summary>Merge Fields</summary>
You can include the following merge fields in your message:
<ul>
    <li><code>{name}</code> (the user's preferred name)</li>
    <li><code>{schedule}</code> (link to user's schedule)</li>
    <li><code>{application}</code> (link to user's application)</li>
    <li><code>{event}</code> (link to event)</li>
</ul>
</details>
</div>

<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {% if redirect_url %}
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
    {% endif %}
    {{ email_form }}

    <input type="submit" value="Send">
</form>


{% endblock %}
