{% extends "base.html" %}
{% load stave_tags %}
{% inputs 'StaffListInputs' %}

{% block content %}
<header>
    <h1>Staff List for <a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.preferred_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">
                No staff are confirmed for {{ event }} yet.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
