{% extends "base.html" %}

{% load markdownify %}
{% load stave_tags %}
{% load tz %}

{% inputs 'ViewApplicationContext' %}

{% block content %}

{% include "stave/partials/event_banner.html" with event=app_form.event only %}

<header>
    <h1>
        <a href="{{ app_form.event.get_absolute_url }}">{{ app_form.event.name }}</a>
    </h1>
    {% if not application and request.user|can_manage_event:form.event %}
    <a href="{% url 'form-update' app_form.event.league.slug app_form.event.slug app_form.slug %}" role="button">Edit Form</a>
    {% endif %}
</header>


{% if application %}
<header>
    <h2>Status</h2>
</header>
<dl>
    <div>
        <dt>Applicant</dt>
        <dd>{{ application.user }} </dd>
    </div>
    <div>
        <dt>Status</td>
        <dd>{{ application.user_visible_status.label }}</dd>
    </div>
    <div>
        <dt>Event</dt>
        <dd><a href="{% url 'event-detail' app_form.event.league.slug app_form.event.slug %}">{{ app_form.event }}</a></dd>
    </div>
</dl>
{% if not editable %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect_url" id="redirect_url" value="{{ request.path }}">
    {% include "stave/application_actions.html" with user=request.user can_manage_event=user|can_manage_event:app_form.event application=application ApplicationStatus=ApplicationStatus include_view=False only %}
    </div>
</form>
{% endif %}
{% else %}
<p>
<dl>
    <div>
      <dt>Host</dt>
      <dd><a href="{% url 'league-detail' app_form.event.league.slug %}">{{ app_form.event.league.name }}</a></dd>
    </div>
    {% if app_form.event.end_date != app_form.event.start_date %}
    <div>
        <dt>Start Date</dt>
        <dd>{{ app_form.event.start_date }}</dd>
    </div>
    <div>
        <dt>End Date</dt>
        <dd>{{ app_form.event.end_date }}</dd>
    </div>
    {% else %}
    <div>
        <dt>Date</dt>
        <dd>{{ app_form.event.start_date }}</dd>
    </div>
    {% endif %}
    <div>
        <dt>Location</dt>
        <dd>{{ app_form.event.location }}</dd>
    </div>
</dl>

{{ app_form.intro_text|markdownify }}
{% endif %}

<h2>Application</h2>

{% if not request.user.is_authenticated and not application %}
{% include "stave/login_options.html" %}
<hr>
{% endif %}

<form action="{% if application %}{% url 'update-application' application.id %}{% else %}{% url 'application-form' app_form.event.league.slug app_form.event.slug app_form.slug %}{% endif %}" method="post">
{% csrf_token %}

{# top-level form - for error display only #}
{{ form.errors }}

{% if app_form.requires_profile_fields %}

<p>This application includes information from your profile.</p>

{% if editable and form.profile_form %}
<p>Any changes made here will update your profile.</p>
{{ form.profile_form }}

{% else %}
{{ form.profile_form }}
{% endif %}
<hr>
{% endif %}

{# Availability #}
{% if app_form.application_availability_kind == app_form.ApplicationAvailabilityKind.WHOLE_EVENT %}

<p>This application covers the entire event{% if app_form.event.start_date != app_form.event.end_date %}, from {{ app_form.event.start_date }} to {{ app_form.event.end_date }}{% endif %}.</p>

{% elif app_form.application_availability_kind == app_form.ApplicationAvailabilityKind.BY_DAY %}

<p>This application covers multiple days. {% if editable %}Select your availability below.{% endif %}<p>

{{ form.availability_form }}

{% elif app_form.application_availability_kind == app_form.ApplicationAvailabilityKind.BY_GAME %}

<p>This application covers multiple games. {% if editable %}Select your availability below.{% endif %}</p>

{% timezone form.event.league.time_zone %}
{{ form.availability_form }}
{% endtimezone %}

{% endif %}
</fieldset>

<hr>

<p>Choose the roles you're interested in filling.</p>

{% for role_group_form in form.role_group_forms %}
<fieldset>
    <legend>{{role_group.name}}</legend>
    {{ role_group_form }}
</fieldset>
{% endfor %}

<hr>

{% if form.custom_form %}

{{ form.custom_form }}
<hr>
{% endif %}
<input type="submit" {% if not editable %} disabled {% endif %} value="Submit">
</form>
{% endblock %}
