header {
    display: flex;
    align-items: baseline;
}
header h1, h2, h3, h4, h5, h6 {
    flex: 1;
}
article h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

header a[role=button] {
    padding: 0.25rem;
    align-content: center;
    height: 80%;
    vertical-align: middle;
    font-weight: bold;
}

main a:not([role])::after {
    content: ' ⇨';
}

fieldset legend {
    font-weight: bold;
}

body  header  nav {
    border-bottom: 0.25rem solid var(--pico-primary);
}

dl {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 0.25rem solid var(--pico-primary);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

article dl {
    justify-content: space-between;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0;
}

a {
    text-decoration: underline dotted;
}

.helptext {
    font-size: 60%;
    margin-bottom: 0.25rem;
    /* TODO: update template to just use <small> */
}

/* Small screens */
@media screen and (max-width: 400px) {
  dl {
     flex-direction: column;
  }
  dl div {
    padding: 1em 1em 0 1em;
  }
}
