name: Test

on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DJANGO_SECRET_KEY: django-insecure-secret-key
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          prune-cache: false  # store the downloaded wheels in cache
          # See https://github.com/astral-sh/setup-uv/issues/745
      - run: uv run pytest
      - run: uv run manage.py behave
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
